html
    head
    title=title
    link(href="./styles/viewpurpose.css", rel="stylesheet")
body
    .left
        .divsubone
            .divpassion
                p.head="Passion"
                p.sub=pass
            .divmission
                p.head="Mission"
                p.sub=miss
        .divsubtwo
            .divpurpose
                    p.head="Purpose"
                    p.sub=purp
        .divsubthree
            .divprofession
                p.head="Profession"
                p.sub=prof
            .divvocation
                p.head="Vocation"
                p.sub=voc
    .right
        .rightheading
            p.subtext="Ikigai is an interesting self-development concept from Japan, a prism for potentially seeing how to bring satisfaction, happiness & meaning to life. The direct translation is the “happiness of being busy.”"
        img(src="./resources/ikigaione.png")

    
    
    
    